<section class="nav-head">
  <div>
    <img src="./assets/img/Workspace logo.png" alt="logo" />
    <h3>Devspace</h3>
  </div>
  <img src="./assets/icons/edit_square.png" />
</section>


<!--Channels-->
<section class="nav-channels">
  <div style="position: relative;">
    <div class="add-channel-head">
      <button (click)="openAddChannel()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  <mat-expansion-panel [expanded]="true" hideToggle class="expansion-panel-main">
    <mat-expansion-panel-header>
      <div class="channels-head">
        <mat-icon class="arrow-drop-down" style="margin-right: 15px;">arrow_drop_down</mat-icon>
        <div class="icon-with-name">
          <mat-icon style="margin-right: 10px;">workspaces_outline</mat-icon>
          <h3>Channels</h3>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="list">
      <span class="list-enumeration channel-enumeration" *ngFor="let channel of fetchedChannels" (click)="openChannel(channel.channelId)">
        <mat-icon style="font-style: italic;">tag</mat-icon>
         {{ channel.name }}
      </span>
      <div class="list-enumeration add-effect">
        <mat-icon>add_circle_outline</mat-icon>
        <span (click)="openAddChannel()">Channel hinzufügen</span>
      </div>
    </div>
  </mat-expansion-panel>
  </div>
</section>



<!--Messaging-->
<section class="nav-direct-messages">
  <mat-expansion-panel [expanded]="true" hideToggle class="expansion-panel-main">
    <mat-expansion-panel-header>
      <div class="channels-head">
        <mat-icon style="margin-right: 15px;">arrow_drop_down</mat-icon>
        <div class="icon-with-name">
          <mat-icon style="margin-right: 10px;">account_circle</mat-icon>
          <h3>Direktnachrichten</h3>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="list">
      <div *ngFor="let user of fetchedUser" class="user-list" (click)="openDM(user.userId)">
        <div class="user-pair">
          <img [src]="user.avatar">
          <div class="online-attribut">
            <img *ngIf="user.state === 'true'; else awayOrOffline" src="./assets/icons/Online.png">
            <ng-template #awayOrOffline>
              <img *ngIf="user.state === 'away'; else offline" src="./assets/icons/Away.png">
              <ng-template #offline>
                <img src="./assets/icons/Offline.png">
              </ng-template>
            </ng-template>
          </div>
        </div>
        <p>{{ user.name }} <span *ngIf="user.userId === currentUser">(Du)</span></p>
      </div>
    </div>
  </mat-expansion-panel>
</section>
