@import './../../../../styles.scss';

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .overlay {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;

        >img {
            width: 280px;
        }
    }

    .header-container {
        padding: 48px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1920px;
        margin: 0 auto;

        @media (max-height: 700px) {
            padding: 24px;
        }
    }

    .reset-container {
        padding: 48px;
        width: 500px;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        text-align: center;
        border-radius: 28px;
        box-shadow: #C2C4E3 0px 2px 8px;
        margin-top: 120px;
        position: relative;

        @media (max-height: 600px) {
            margin-top: 88px;
        }

        .reset-header {
            display: flex;
            align-items: center;

            img {
                position: absolute;
                left: 16px;

                @media (max-width: 600px) {
                    top: 16px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            h2 {
                color: #444DF2;
                font-size: 40px;
                font-weight: bold;
            }

        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin-top: 48px;

    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        width: 100%;

        @media (max-width: 600px) {
            width: auto;
        }

        button {
            background-color: #575757;
            color: white;
            padding: 10px 20px;
            border: none;
            font-weight: 600;
            position: relative;
            right: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
    width: 100%;

    @media (max-width: 600px) {
        width: 112%;
    }

    .invalid-text {
        display: flex;
        color: #ED1E79;
        font-size: 14px;
        text-align: start;
    }
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 32px;

    .footer-content {
        border: 1px solid;
        border-radius: 24px;
        border-color: transparent;
        color: #797EF3;
        padding: 8px;

        &:hover {
            cursor: pointer;
            border-color: #CCCFEB;
            color: #444DF2;
        }
    }
}

span {
    font-weight: 600;
}

input {
    border: none;
    background-color: #ECEEFE;
    width: 100%;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.mail-and-pw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #ECEEFE;
    border: 1px solid transparent;
    padding: 16px 32px !important;

    &:hover {
        cursor: pointer;
        border: 1px solid #757575 !important;
    }
}


// generic classes
.fs-15 {
    font-size: 15px;
}

.br-32 {
    border-radius: 32px;
}

.tr-150ms {
    transition: all 150ms ease-in-out;
}

.purple-border {
    border-color: #535AF1 !important;

    &:hover {
        border-color: #535AF1 !important;
    }
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.resetBtnDisabled {
    background-color: #858585 !important;
    cursor: not-allowed !important;
}