<section>
    <div class="logo-container">
        <img src="./../../assets/img/logo-header_complete.svg" alt="">
    </div>

    <div class="search-and-profile">
        <div class="search">
            <input matInput placeholder="Search in Channel..." value="">
            <mat-icon>search</mat-icon>
        </div>
        <div class="profile">
            <span>Frederik Beck</span>
            <img src="./../../assets/img/avatar-frederik-beck.svg" alt="">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>


    <span class="example-spacer"></span>
</section>