@import './../../styles.scss';

section {
    height: fit-content;
    width: 100%;
    background-color: $bgPage;
    padding-top: 12px;
    @include dFlex($jc: flex-start);
}

.logo-container {
    @include dFlex($jc: flex-start);
    width: 350px;
    padding: 0 24px;

    img {
        height: 70px;
    }

    span {
        font-size: 30px;
        margin-left: 16px;
    }
}

.search-and-profile {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 0 24px;
    cursor: pointer;
    .search {
        @include dFlex($jc: space-between);
        width: 70%;
        box-sizing: border-box;
        background-color: white;
        border-radius: 42px;
        padding: 8px 16px;
        input {
            font-size: 20px;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: white;
            width: 80%;
        }
        mat-icon{
            transform: scale(1.2);
            color: rgba(0, 0, 0, 0.4);
        }
    }
    .profile{
        @include dFlex($g:20px);
        span{
            font-size: 28px;
        }
        > .user-pair {
            position: relative;
            height: 70px;
            width: 70px;
            > img {
                height: 70px;
                border-radius: 50%;
            }
            > .online-attribut {
                position: absolute;
                bottom: -10px;
                right: 0;
                > img {
                    height: 17px;
                    width: 17px;
                }
            }
        }
    }
}

.search-chat {
    border-radius: 30px !important;
    height: fit-content;
    overflow: hidden;
}

.mat-mdc-text-field-wrapper {
    border-radius: 30px !important;
}

/*profil menu*/

.profile-menu-cont {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
    height: 100vh;
    z-index: 2;
    > .profile-menu {
        width: 282px;
        height: 181px;
        background-color: #FFFFFF;
        position: absolute;
        top: 90px;
        right: 13px;
        @include dFlex($fd: column);
        > span {
            font-size: 24px;
            padding: 10px 70px 10px 70px;
            &:hover {
                cursor: pointer;
                background-color: #ECEFFE;
                color: #535af1;
            }
        }
    }
}

.bgD {
    background-color: rgba($color: #000000, $alpha: 0.3);
    > .profile-edit-info {
        width: 500px;
        height: 705px;
        position: absolute;
        top: 90px;
        right: 13px;
        background-color: #FFFFFF;
        @include dFlex($fd: column);
        > .profile-content {
            height: 100%;
            width: 100%;
        }
    }
}

.brNoLeftTop32 {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
}

.br32 {
    border-radius: 32px;
}

.mb15{
    margin-bottom: 15px;
}