<section>
  <div class="logo-container">
    <img src="./../../assets/img/logo-header_complete.svg" alt="" />
  </div>

  <div class="search-and-profile">
    <div class="search">
      <input matInput placeholder="Search in Channel..." value="" />
      <mat-icon>search</mat-icon>
    </div>
    <div class="profile" (click)="displayCuser()">
      <span>{{ user?.name }}</span>
      <div class="user-pair">
        <img [src]="user?.avatar"/>
        <div class="online-attribut">
          <img [src]="user?.state === 'true' ? './assets/icons/Online.png' : './assets/icons/Offline.png'">
        </div>
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>

  

  <span class="example-spacer"></span>
</section>

<div *ngIf="isProfilMenuOpen" class="profile-menu-cont">
    <div id="profileMenu" class="profile-menu brNoLeftTop32">
      <span class="mb15 br32" (click)="openProfile()">Profil</span>
      <span class="br32">Logout</span>
    </div>
</div>

<div *ngIf="isProfileEditOpen" class="profile-menu-cont bgD">
    <div class="profile-edit-info brNoLeftTop32">
        <app-profile-dialog class="profile-content"></app-profile-dialog>
    </div>
</div>