<section>
  <div class="logo-container">
    <img class="back-arrow" *ngIf="isChannelOpen && screenWidth < 820" (click)="getBackToNav()" src="./assets/icons/keyboard_arrow_down.png">
    <img *ngIf="!isChannelOpen || screenWidth > 550" src="./../../assets/img/logo-header_complete.svg" alt="" />
    <div class="mobile-cont" *ngIf="isChannelOpen && screenWidth < 550">
      <img src="./assets/img/Workspace logo.png" alt="logo" />
      <h3>Devspace</h3>
    </div>
  </div>

  <div class="search-and-profile">
    <div class="search">
      <input matInput placeholder="Search in Channel..." value="" />
      <mat-icon>search</mat-icon>
    </div>
    <div class="profile" (click)="openProfileMenu()">
      <span>{{ user?.name }}</span>
      <div class="user-pair">
        <img [src]="user?.avatar" />
        <div class="online-attribut">
          <img *ngIf="user?.state === 'true'; else awayOrOffline" src="./assets/icons/Online.png">
            <ng-template #awayOrOffline>
              <img *ngIf="user?.state === 'away'; else offline" src="./assets/icons/Away.png">
              <ng-template #offline>
                <img src="./assets/icons/Offline.png">
              </ng-template>
            </ng-template>
        </div>
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>



  <span class="example-spacer"></span>
</section>

<div *ngIf="isProfilMenuOpen" class="profile-menu-cont">
  <div id="profileMenu" class="profile-menu brNoLeftTop32">
    <div class="mobile-island">
      <div></div>
    </div>
    <span class="mb15 br32" (click)="openProfile()"><img src="./assets/icons/account_circle-icon.svg">Profil</span>
    <span (click)="logout()" class="br32"><img src="./assets/icons/logout-mobile.png">Logout</span>
  </div>
</div>

<div *ngIf="isProfileEditOpen" class="profile-menu-cont bgD">
  <div class="profile-edit-info brNoLeftTop32">
    <app-profile-dialog (closeEvent)="userWantsBackEvent($event)" class="profile-content"></app-profile-dialog>
  </div>
</div>