@import './../../styles.scss';

section {
    height: fit-content;
    width: 100%;
    background-color: $bgPage;
    padding-top: 12px;
    @include dFlex($jc: flex-start);
}

.logo-container {
    @include dFlex($jc: flex-start);
    width: 350px;
    padding: 0 24px;
    @media(max-width: 820px) {
        padding-right: 16px;
        width: 250px;
    }

    img {
        height: 70px;
        @media(max-width: 820px) {
            height: 48px;
        }
    }
    > .back-arrow {
        height: 25px;
        width: 25px;
    }

    span {
        font-size: 30px;
        margin-left: 16px;
    }
    > .mobile-cont {
        @include dFlex(center, center, 10px);
        > img {
            height: 50px;
            width: 50px;
        }
        > h3 {
            font-size: 24px;
            font-weight: 800;
            font-family: 'Nunito';
        }
    }
}

.search-and-profile {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 0 24px;
    @media(max-width: 820px) {
        padding-left: 0px;
    }
    @media(max-width: 600px) {
        justify-content: space-between;    
    }
    @media(max-width: 550px) {
        justify-content: flex-end;
        cursor: auto;
    }
    cursor: pointer;
    .search {
        @include dFlex($jc: space-between);
        width: 70%;
        box-sizing: border-box;
        background-color: white;
        border-radius: 42px;
        padding: 8px 16px;
        @media(max-width: 820px) {
            padding: 4px 16px;
            width: 50%;
            margin-left: 40px;
        }
        @media(max-width: 650px) {
            margin-left: 20px;
        }
        @media(max-width: 600px) {
            width: 60%;
        }
        @media(max-width: 550px) {
            display: none;
        }
        input {
            font-size: 16px;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: white;
            width: 80%;
        }
        mat-icon{
            transform: scale(1.2);
            color: rgba(0, 0, 0, 0.4);
            @media(max-width: 820px) {
             transform: scale(1.0);   
            }
        }
    }
    .profile{
        @include dFlex($g:20px);
        @media(max-width: 820px) {
            gap: 0;
        }
        span{
            font-size: 22px;
            @media(max-width: 600px) {
                display: none;
            }
        }
        > .user-pair {
            position: relative;
            height: 70px;
            width: 70px;
            @media(max-width: 820px) {
                @include dFlex(center,center)
            }
            > img {
                height: 70px;
                border-radius: 50%;
                @media(max-width: 820px) {
                    height: 48px;
                }
                @media(max-width: 550px) {
                    height: 50px;
                }
            }
            > .online-attribut {
                position: absolute;
                bottom: -10px;
                right: 0;
                @media(max-width: 820px) {
                    bottom: 0px;
                    right: 12px;
                }
                > img {
                    height: 14px;
                    width: 14px;
                }
            }
        }
        > mat-icon {
            @media(max-width: 600px) {
                display: none;
            }
        }
    }
}

.search-chat {
    border-radius: 30px !important;
    height: fit-content;
    overflow: hidden;
}

.mat-mdc-text-field-wrapper {
    border-radius: 30px !important;
}

/*profil menu*/

.profile-menu-cont {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
    height: 100vh;
    z-index: 2;
    > .profile-menu {
        width: 282px;
        height: 181px;
        background-color: #FFFFFF;
        position: absolute;
        top: 90px;
        right: 13px;
        @include dFlex($fd: column);
        @media(max-width: 820px) {
            width: 224px;
            height: 154px;
        }
        > span {
            font-size: 24px;
            padding: 10px 70px 10px 70px;
            @media(max-width: 820px) {
                font-size: 18px;
            }
            &:hover {
                cursor: pointer;
                background-color: #ECEFFE;
                color: #535af1;
            }
        }
    }
}

.bgD {
    background-color: rgba($color: #000000, $alpha: 0.3);
    > .profile-edit-info {
        width: 500px;
        height: 705px;
        position: absolute;
        top: 90px;
        right: 13px;
        background-color: #FFFFFF;
        @media(max-width: 820px) {
            height: 620px;
        }
        @include dFlex($fd: column);
        > .profile-content {
            height: 100%;
            width: 100%;
        }
    }
}

.brNoLeftTop32 {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
}

.br32 {
    border-radius: 32px;
}

.mb15{
    margin-bottom: 15px;
}