<section>
  <div class="p-head mrB45">
    <span>{{ isEditing ? 'Dein Profil bearbeiten' : 'Profil'}}</span>
    <div (click)="closeProfileMenu()" class="close-btn">
      <mat-icon>close_outline</mat-icon>
    </div>
  </div>

  <div class="p-pic mrB45">
    <div class="pic-cont">
      <img [src]="user?.avatar" alt="user-pic" />
    </div>
  </div>
  <!--profile oversight-->
  <div *ngIf="!isEditing" class="p-name-cont mrB45">
    <div class="name-status">
      <span>{{ user?.name }}</span>
      <div>
        <img src="../../../assets/icons/Online.png" />
        <span>Aktiv</span>
      </div>
    </div>
    <div (click)="userIsEditing()" class="edit">Bearbeiten</div>
  </div>

  <div *ngIf="!isEditing" class="p-mail-cont mrB45">
    <div class="mail-content">
      <div>
        <mat-icon>mail_outline</mat-icon>
      </div>
      <span>E-Mail-Adresse</span>
    </div>
    <span class="mail"><b>{{ user?.email }}</b></span>
  </div>

  <!-- <div *ngIf="!isEditing" class="dm-btn">
    <div>
      <mat-icon>mode_comment</mat-icon>
      <span>Nachricht</span>
    </div>
  </div> -->
  <!--profile oversight-->
  <app-profile-edit-dialog *ngIf="isEditing" (closeEvent)="isEditing = false"></app-profile-edit-dialog>
</section>