<form action="">

  <div class="cont mb16">
    <div class="head-content">
      <img src="../../../../assets/icons/account_circle-icon.svg" alt="person">
      <span>Vollständiger Name</span>
    </div>
    <div class="input-cont">
      <input type="text" placeholder="{{ user?.name }}" />
    </div>
  </div>

  <div class="cont mb45">
    <div class="head-content">
      <img src="../../../../assets/icons/mail-icon.svg" alt="mail">
      <span>E-Mail-Adresse</span>
    </div>
    <div class="input-cont">
      <input type="text" placeholder="{{ user?.email }}" />
    </div>
  </div>

  <div class="btns">
    <div (click)="closeEditDialog()" class="cancel"><span>Abbrechen</span></div>
    <div class="accept"><span>Speichern</span></div>
  </div>

</form>