<section class="editChannel">
  <div class="head">
    <div>
      <mat-icon style="font-style: italic">tag</mat-icon>
      <h2>{{ channel?.name }}</h2>
    </div>
    <mat-icon>close</mat-icon>
  </div>

  <div class="channel-details">
    <div class="channel-name-cont" [ngStyle]="isEditNameOpen ? {'border':'none', 'padding' : '20px 0 0 0'} : {'border': '1px solid #adb0d9'} ">
      <div class="cHead">
        <span>Channel-Name</span>
        <span *ngIf="!isEditNameOpen" class="editBlue" (click)="editChName()" >Bearbeiten</span>
        <span *ngIf="isEditNameOpen" class="editBlue" [ngStyle]="isEditNameOpen ? {'margin-right':'-20px'} : {}">Speichern</span>
      </div>
      <div *ngIf="!isEditNameOpen" class="cName">
        <mat-icon style="font-style: italic">tag</mat-icon>
        <span>{{ channel?.name}}</span>
      </div>
      <div *ngIf="isEditNameOpen" class="edit-channel">
        <mat-icon style="font-style: italic">tag</mat-icon>
        <input type="text" placeholder="{{ channel?.name }}">
      </div>
    </div>

    <div class="channel-description" [ngStyle]="isEditDescOpen ? {'border': 'none', 'padding' : '20px 0 0 0'} : {'border': '1px solid #adb0d9'}">
      <div class="channel-desc-cont">
        <span>Beschreibung</span>
        <span (click)="editChDesc()" *ngIf="!isEditDescOpen" class="editBlue">Bearbeiten</span>
        <span *ngIf="isEditDescOpen" class="editBlue" [ngStyle]="isEditDescOpen ? {'margin-right':'-20px'} : {}">Speichern</span>
      </div>
      <div *ngIf="!isEditDescOpen" class="description-text">
        {{ channel?.description}}
      </div>
      <div *ngIf="isEditDescOpen" class="edit-channel">
        <input type="text" placeholder="Dein Text hier">
      </div>
      <div class="cutline" [ngStyle]="isEditDescOpen ? {'margin-left' : '20px'} : {}"></div>
      <div class="creator-cont">
        <span>Erstellt von</span>
        <span class="creatorFontColor">{{ channel?.creator }}</span>
      </div>
    </div>

    <div class="leave-channel">
      <button>Channel verlassen</button>
    </div>
  </div>
</section>
