<section class="editChannel">
  <div class="head">
    <div>
      <mat-icon style="font-style: italic">tag</mat-icon>
      <h2>{{ channel?.name }}</h2>
    </div>
    <mat-icon (click)="close()">close</mat-icon>
  </div>

  <div class="channel-details">
    <div class="channel-name-cont"
      [ngStyle]="isEditNameOpen ? {'border':'none', 'padding' : '20px 0 0 0'} : {'border': '1px solid #adb0d9'} ">
      <div class="cHead">
        <span>Channel-Name</span>
        <span *ngIf="!isEditNameOpen" class="editBlue"
          (click)="editChName(); $event.stopPropagation()">Bearbeiten</span>
        <span *ngIf="isEditNameOpen" class="editBlue"
          (click)="safeEdit(channelData.name, 'name');  $event.stopPropagation()"
          [ngStyle]="isEditNameOpen ? {'margin-right':'-20px'} : {}">Speichern</span>
      </div>
      <div *ngIf="!isEditNameOpen" class="cName">
        <mat-icon style="font-style: italic">tag</mat-icon>
        <span>{{ channel?.name}}</span>
      </div>
      <div *ngIf="isEditNameOpen" class="edit-channel">
        <mat-icon style="font-style: italic">tag</mat-icon>
        <input [(ngModel)]="channelData.name" type="text" placeholder="{{ channel?.name }}">
      </div>
    </div>

    <div class="channel-description"
      [ngStyle]="isEditDescOpen ? {'border': 'none', 'padding' : '20px 0 0 0'} : {'border': '1px solid #adb0d9'}">
      <div class="channel-desc-cont">
        <span>Beschreibung</span>
        <span (click)="editChDesc();  $event.stopPropagation()" *ngIf="!isEditDescOpen"
          class="editBlue">Bearbeiten</span>
        <span (click)="safeEdit(channelData.description, 'description');  $event.stopPropagation()"
          *ngIf="isEditDescOpen" class="editBlue"
          [ngStyle]="isEditDescOpen ? {'margin-right':'-20px'} : {}">Speichern</span>
      </div>
      <div *ngIf="!isEditDescOpen" class="description-text">
        {{ channel?.description}}
      </div>
      <div *ngIf="isEditDescOpen" class="edit-channel">
        <input [(ngModel)]="channelData.description" type="text" placeholder="{{ channel?.description }}">
      </div>
      <div class="cutline" [ngStyle]="isEditDescOpen ? {'margin-left' : '20px'} : {}"></div>
      <div class="creator-cont">
        <span>Erstellt von</span>
        <span class="creatorFontColor">{{ user?.name }}</span>
      </div>
    </div>

    <div class="mobile-oversight">
      <app-member-oversight [currentChannel]="channelMobile" [openedInChannel]="true"
        (isMobileOverlay)="handleMobileOverlay($event)"></app-member-oversight>
    </div>

    <div class="leave-channel">
      <button (click)="leaveChannel()" [disabled]="currentChannel === 'V4fl3CDNCrJMOp6Dro36'">Channel verlassen</button>
    </div>
  </div>

  <div *ngIf="isMobileOverlayOpen" class="add-member-mobile-overlay">
    <div class="overlay-cont">
      <app-add-member [channel]="channelMobile" [currentMembers]="membersMobile" (isClosed)="closeAddMember($event)"
        (hasAdded)="closeInfo($event)"></app-add-member>
    </div>
  </div>
</section>