<div class="main-container">
    <!-- OVERLAY -->
    <div [@slideInFromRight] *ngIf="showOverlay" class="overlay">
        <img src="assets/img/mailSentOverlay.svg" alt="">
    </div>

    <div class="header-container"
        [ngStyle]="{'display': containerWidth <= 600 ? 'flex' : '', 'justify-content': containerWidth <= 600 ? 'center' : ''}">
        <img src="assets/img/logo-header_complete.svg" alt="">
    </div>

    <div class="reset-container">
        <div class="reset-header">
            <img routerLink="" [src]="isHovered ? 'assets/img/goBack_focused.svg' : 'assets/img/goBack_unfocused.svg'"
                (mouseover)="isHovered = true" (mouseout)="isHovered = false" src="assets/img/goBack_unfocused.svg"
                alt="">
            <h2>Passwort zurücksetzen</h2>
        </div>

        <span class="reset-text">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

        <form (ngSubmit)="sendLinkAndNavigateToLogin()" [formGroup]="formData">
            <div class="input-container">
                <div>
                    <div (click)="isMailFocused = true" class="mail-and-pw tr-150ms br-32"
                        [ngClass]="{'purple-border': isMailFocused}">
                        <img [src]="isMailFocused ? 'assets/img/mail_focused.svg' : 'assets/img/mail_unfocused.svg'">
                        <input formControlName="email" type="email" placeholder="E-Mail" required
                            pattern="[^@]+@[^\.]+\..+">
                    </div>

                    <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
                        <span class="invalid-text" *ngIf="formData.get('email')?.errors?.['required']">
                            *Bitte E-Mail-Adresse eingeben.
                        </span>
                        <span class="invalid-text" *ngIf="formData.get('email')?.errors?.['pattern']">
                            *Diese E-Mail-Adresse ist leider ungültig.
                        </span>
                    </div>
                </div>
            </div>

            <span class="info-text">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>

            <div class="btn-container">
                <button [ngClass]="{'resetBtnDisabled': !formData.valid}" [disabled]="!formData.valid" type="submit"
                    class="br-32 tr-150ms">E-Mail senden</button>
            </div>

        </form>
    </div>

    <div class="footer-container">
        <span routerLink="/imprint" class="footer-content tr-150ms">Impressum</span>
        <span routerLink="/privacyPolicy" class="footer-content tr-150ms">Datenschutz</span>
    </div>
</div>