<section *ngIf="!isDmRoomOpen && !isNewMessage">
    <div (click)="openEditChannelDialog()" class="group-name">
        <img src="./assets/icons/tag.png">
        <span>{{ chatService.getChannelName() }}</span>
    </div>
    <div class="group-members">
        <div (click)="openMemberOversight()" class="member-grouped-cont">
            <div *ngFor="let avatar of avatars" class="member-avatar">
                <img [src]="avatar">
            </div>
            <span>{{channel?.member?.length}}</span>
        </div>
        <div class="dropdown-container-mobile">
            <button class="add-member-btn" (click)="openMemberOversight()">
                <mat-icon class="outlined">person_add</mat-icon>
            </button>
        </div>
        <div class="dropdown-container">
            <button class="add-member-btn" (click)="openMemberSearch()">
                <mat-icon class="outlined">person_add</mat-icon>
            </button>
        </div>
    </div>
</section>

<div *ngIf="isInfoOpen" class="channel-info-cont">
    <div class="mobile-edit-head">
        <div>
          <mat-icon style="font-style: italic">tag</mat-icon>
          <h2>{{ channel?.name }}</h2>
        </div>
        <mat-icon (click)="handleCloseEvent(true)" >close</mat-icon>
    </div>
    <div id="infoMenu" class="channel-info brNoLeftTop32" [ngClass]="isDrawerOpen ? 'channel-info-opened' : 'channel-info-closed'">
        <app-edit-channel-dialog (closeDialog)="handleCloseEvent($event)"
            [currentChannel]="currentChannelId" [channelMobile]="channel" [membersMobile]="members"></app-edit-channel-dialog>
    </div>
</div>

<div *ngIf="isMemberOversight" class="member-oversight-cont">
    <div id="memberOversight" [ngClass]="isSearching ? 'member-search' : 'member-oversight'">
        <app-member-oversight (isSearchOpen)="changeWidth($event)" (hasClosed)="handleCloseEventMember($event)" [openedInChannel]="false" [currentChannel]="channel"></app-member-oversight>
    </div>
</div>

<div *ngIf="isSearchOpen" class="member-oversight-cont">
    <div id="memberSearch" class="member-search">
        <app-add-member [currentMembers]="members" [channel]="channel" (isClosed)="searchClosed($event)"></app-add-member>
    </div>
</div>

<section class="dm-head" *ngIf="isDmRoomOpen && !isNewMessage">
    <div class="user-cont">
        <div class="user-pair">
            <img [src]="currentPartnerUser?.avatar">
            <div class="online-attribut">
                <img *ngIf="currentPartnerUser?.state === 'true'; else awayOrOffline" src="./assets/icons/Online.png">
                <ng-template #awayOrOffline>
                    <img *ngIf="currentPartnerUser?.state === 'away'; else offline" src="./assets/icons/Away.png">
                    <ng-template #offline>
                        <img src="./assets/icons/Offline.png">
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <span>{{currentPartnerUser?.name}}</span>
    </div>
</section>


<section *ngIf="isNewMessage && !isDmRoomOpen">
<div class="w-100" #inputArea>
    <h2 class="new-message-h">New Message</h2>
    <mat-chip-listbox #chipList>
        <div class="input-search br-32">
            <!-- Geänderter Input mit der neuen Klasse und Placeholder -->
            <input [formControl]="searchInput" type="text" placeholder="An: #Channel, oder @jemand oder E-Mail Adresse">
        </div>
        <mat-chip *ngFor="let user of selectedUsers">
            <div class="selected-user-pair">
                <img [src]="user.avatar">
                <p>{{ user.name }}</p>
                <span (click)="removeUser(user)">x</span>
            </div>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip *ngFor="let channel of selectedChannels">
            <div class="selected-user-pair">
                <mat-icon>tag</mat-icon>
                <p>{{ channel.name }}</p>
                <span (click)="removeChannel(channel)">x</span>
            </div>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-listbox>
    <div class="search-results" *ngIf="searchResults.length > 0">
        <div>
            <div class="user-result-list" *ngFor="let user of searchResults" (click)="selectUser(user)">
                <div class="user-pair">
                    <img [src]="user.avatar">
                    <div class="online-attribut">
                        <img [src]="user.state === 'true' ? './assets/icons/Online.png' : './assets/icons/Offline.png'">
                    </div>
                </div>
                <p>{{ user.name }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="filteredChannels.length > 0" class="search-results">
        <div>
            <div class="user-result-list" *ngFor="let channel of filteredChannels" (click)="selectChannel(channel)">
                <div class="user-pair">
                    <mat-icon>tag</mat-icon> <span> {{ channel.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>