@import './../../../../styles.scss';


section {
    padding: 25px 45px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    @include dFlex($jc: space-between);
    z-index: 10;
}


.group-name {
    @include dFlex();
    width: fit-content;

    mat-icon {
        font-weight: 600;
        transform: scale(1.2);
        margin-bottom: 2px;
    }

    span {
        font-weight: 700;
        font-size: 24px;
        margin: 8px;
    }
}

// .group-members {}

.add-member-btn {
    background-color: $bgPage;
    padding: 8px;
    border-radius: 50%;
    border: none;
    @include dFlex();

    mat-icon {
        &:hover {
            color: #535AF1;
            cursor: pointer;
        }
    }
}


.add-person-menu {
    padding: 40px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);
    overflow: hidden;
    border-radius: 30px 0 30px 30px;
    border: #797EF3 1px solid;
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
    background: white;
    transition: opacity .125s ease-in-out;
    box-sizing: border-box;

    // display: none;
    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-right: 100px;
    }

    div:first-child {
        @include dFlex($jc: space-between);
        text-wrap: nowrap;
    }

    input {
        font-size: 16px;
        border: none;
        outline: none;
        box-shadow: none;
        background-color: white;
        padding: 10px 15px;
        border: #ADB0D9 1px solid;
        border-radius: 30px;
        width: 90%;
        margin-top: 16px;
    }
}

.add-btn-container {
    width: 100%;
    text-align: end;

    button {
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 12px 25px;
        border-radius: 50px;
        font-size: 18px;
        background-color: #686868;
    }
}

.open-menu {
    opacity: 1;
    z-index: 999;
    // display: flex !important;
}

.menu-bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity .125s ease-in-out;
}

.open-menu-bg {
    visibility: visible;
    opacity: 1 !important;
}

.dropdown-container {
    position: relative;
}

.group-def {
    width: 100%;
    @include dFlex($jc: flex-start, $g: 16px);
    color: #797EF3;
}

.outlined {
    font-family: 'Material Icons Outlined';
}


/*DM Head*/

.user-cont {
    @include dFlex(center, center, 15px);

    >.user-pair {
        @include dFlex(center, center);
        position: relative;

        >img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        >.online-attribut {
            position: absolute;
            bottom: -6px;
            right: 0;

            >img {
                height: 14px;
            }
        }
    }

    >span {
        font-size: 24px;
        font-weight: bold;
    }
}