.main-container {
    height: 100%;
    padding: 64px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container {
            display: flex;
            align-items: center;

            >span {
                font-size: 30px;
                font-weight: bold;
                margin-left: 16px;
            }
        }

        .new-account-container {
            display: flex;
            flex-direction: column;
            text-align: end;
        }
    }

    .login-container {
        // height: 80%;
        padding: 32px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
}