@import './../../styles.scss';

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-container {
        padding: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .logo-container {
            display: flex;
            align-items: center;

            >span {
                font-size: 30px;
                font-weight: bold;
                margin-left: 16px;
            }
        }

        .new-account-container {
            display: flex;
            flex-direction: column;
            text-align: end;
        }
    }

    .login-container {
        // height: 80%;
        padding: 32px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
}

form {
    display: flex;
    flex-direction: column;
}