.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header-container {
        padding: 64px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .content-container {
        padding: 48px;
        width: 448px;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        text-align: center;
        border-radius: 28px;
        box-shadow: #C2C4E3 0px 2px 8px;
        margin-top: 120px;
        position: relative;

        .content-header {
            display: flex;
            align-items: center;

            img {
                position: absolute;
                left: 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            h2 {
                color: #444DF2;
                font-size: 40px;
                font-weight: bold;
            }

        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    // width: 100%;
    box-sizing: border-box;

    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        padding-top: 16px;

        button {
            background-color: #444DF2;
            color: white;
            padding: 10px 20px;
            border: none;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                background-color: #797EF3;
            }
        }
    }
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

    img {
        padding: 8px;
        border-radius: 50%;
        margin: 16px 0 24px 0;

        &:hover {
            cursor: pointer;
            background-color: #E6E6E6;
        }
    }

    span {
        font-size: 32px;
        font-weight: bold;
    }
}

.avatar-list-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;

    .list {
        display: flex;
        flex-direction: row;
        gap: 16px;
        padding: 16px 0 24px 0;
    }

    .upload-container {
        display: flex;
        align-items: center;
        gap: 32px;

        .upload {
            border: 1px solid;
            border-radius: 24px;
            border-color: #797EF3;
            padding: 12px 20px;
            color: #444DF2;

            &:hover {
                cursor: pointer;
                background-color: #444DF2;
                color: white;
            }
        }
    }
}


.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 32px;

    .footer-content {
        border: 1px solid;
        border-radius: 24px;
        border-color: transparent;
        color: #797EF3;
        padding: 8px;

        &:hover {
            cursor: pointer;
            border-color: #CCCFEB;
            color: #444DF2;
        }
    }
}

span {
    font-weight: 600;
}




// generic classes
.fs-15 {
    font-size: 15px;
}

.br-32 {
    border-radius: 32px;
}

.tr-150ms {
    transition: all 150ms ease-in-out;
}

.purple-border {
    border-color: #535AF1 !important;

    &:hover {
        border-color: #535AF1 !important;
    }
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}