<div class="main-container">
    <!-- OVERLAY -->
    <div [@slideInFromRight] *ngIf="showOverlay" class="overlay">
        <img src="assets/img/accountCreatedOverlay.svg" alt="">
    </div>

    <div class="header-container">
        <img src="assets/img/logo-header_complete.svg" alt="">
    </div>

    <div class="content-container">
        <div class="content-header">
            <img routerLink="../../registration"
                [src]="isHovered ? 'assets/img/goBack_focused.svg' : 'assets/img/goBack_unfocused.svg'"
                (mouseover)="isHovered = true" (mouseout)="isHovered = false">
            <h2>Wähle deinen Avatar</h2>
        </div>

        <form (ngSubmit)="signUp(userId)">
            <div class="avatar">
                <img #chosenAvatar id="chosenAvatar" src="assets/img/avatar_default.svg"
                    (mousedown)="changeBackgroundColor()" (mouseup)="resetBackgroundColor()"
                    [ngStyle]="{'background-color': isClicked ? '#ECEEFE' : ''}">
                <span>{{name}}</span>
            </div>

            <div class="avatar-list-container">
                <span class="fs-18">Aus der Liste wählen</span>

                <div class="list">
                    <img *ngFor="let avatar of allAvatars; let i = index" [src]="'assets/img/' + avatar"
                        (click)="toggleClicked(i)"
                        [ngStyle]="{'background-color': (clickedIndex === i) ? '#ECEEFE' : '',}">
                </div>

                <div class="upload-container">
                    <span class="fs-18">eigenes Bild verwenden</span>

                    <!-- upload own image -->
                    <label for="file-upload" class="upload tr-150ms" (click)="openFileInput()">
                        Datei hochladen
                    </label>
                    <input #file id="file" type="file" style="display: none;" (change)="onFileSelected($event)">

                </div>
            </div>

            <div class="btn-container">
                <button type="submit" [ngClass]="{'btnDisabled': selectedAvatarURL === ''}"
                    [disabled]="selectedAvatarURL === ''" class="br-32 tr-150ms">Weiter</button>
            </div>
        </form>
    </div>

    <div class="footer-container">
        <span routerLink="/imprint" class="footer-content tr-150ms">Impressum</span>
        <span routerLink="/privacyPolicy" class="footer-content tr-150ms">Datenschutz</span>
    </div>
</div>