section{
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.submit-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    background: none; 
    color: none; 
    border: none;
    transition: all .125s;
    &:hover{
        filter: brightness(1.3);
    }
}

