<section>
    <div *ngFor="let message of getList()" class="message">
        <div class="date">
            <div></div>
            <span>{{ message.time | customDate }}</span>
            <div></div>
        </div>
        <div class="message-container">
            <div class="info">
                <span class="name">Noah Braun</span>
                <span class="time">{{ message.time | customTime }}</span>
            </div>
            <p>{{ message.content }}</p>
            <div class="answers">
                <span class="count">2 Antworten</span>
                <span class="last">Letzte Antwort 14:56</span>
            </div>
            <div class="options-container">
                <div class="check">✅</div>
                <div>🙌🏻</div>
                <div><mat-icon class="material-icons-outlined">add_reaction_outline</mat-icon></div>
                <div><mat-icon class="material-icons-outlined">chat_outline</mat-icon></div>
            </div>
        </div>
    </div>
</section>