@import "./../../../../styles.scss";

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.dialog {
  @include dFlex(flex-start, center, 0, column);
  margin: 40px 40px;
  width: auto;
  max-width: 872px;
  > .dialog-head {
    width: 100%;
    @include dFlex(space-between);
    > h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
    margin-bottom: 20px;
  }
  > .exmpl-text {
    > p {
      font-size: 18px;
      margin: 0;
    }
    margin-bottom: 20px;
  }
  > form {
    width: 100%;
    > .channel-name {
      width: 100%;
      @include dFlex(flex-start, flex-start, 0, column);
      margin-bottom: 20px;
    }
    > .channel-form {
      width: 100%;
      @include dFlex(flex-start, flex-start, 0, column);
      margin-bottom: 20px;
      > .inputs {
        width: 100%;
        max-width: 100%;
        @include dFlex(flex-start, center, 0px);
        border: 1px solid #adb0d9;
        > mat-icon {
          padding-left: 20px;
          font-style: italic;
          opacity: 0.4;
        }
      }
      > .tarea-input {
        @include dFlex(center, center);
        width: 100%;
        max-width: 100%;
        border: 1px solid #adb0d9;
      }
    }
    > .description {
      @include dFlex(flex-start, center, 0, row);
      width: 100%;

      margin-bottom: 20px;
      > p {
        margin: 0 8px;
      }
    }
    > .create-btn {
      width: 100%;
      @include dFlex(flex-end, center,0,row);
      > div {
        @include dFlex(center,center);
        width: 125px;
        height: 49px;
        border-radius: 32px;
        background-color: #444df2;
        cursor: pointer;
        &:hover {
          background-color: #797ef3;
        }
        > span {
          color: white;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}

textarea {
  padding: 18px 0 0px 0 !important;
  resize: none;
  box-sizing: border-box;
  margin-left: 28px;
  max-width: 92% !important;
  vertical-align: middle;
  &::placeholder {
    font-size: 18px;
    vertical-align: middle;
  }
}

input,
textarea {
  border: none;
  background-color: none;
  width: auto;
  max-width: 88%;
  outline: none;
  padding: 18px 15px;
  font-family: "Nunito";
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
  ::placeholder {
    font-family: "Nunito";
    font-size: 18px;
  }
}

.br-32 {
  border-radius: 32px;
}

.ts125 {
  transition: all 150ms ease-in-out;
}
