<section class="dialog">
  <div class="dialog-head">
    <h2>Channel erstellen</h2>
    <mat-icon>close</mat-icon>
  </div>
  <div class="exmpl-text">
    <p>
      Channels dienen deinem Team zur Kommunikation. Am beseten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </p>
  </div>
  <form [formGroup]="firstDialogGroup">
    <div class="channel-name">
      <h3>Channel-Name</h3>
    </div>
    <div class="channel-form">
      <div class="inputs br-32">
        <mat-icon>tag_outline</mat-icon>
        <input formControlName="channelName" type="text" placeholder="z.B. Kooperationsprojekte" required>
      </div>
    </div>
    <div class="description">
      <h3>Beschreibung</h3>
      <p>(optional)</p>
    </div>
    <div class="channel-form">
      <div class="inputs br-32">
        <textarea formControlName="description" type="text" placeholder="Dein Text hier" required></textarea>
      </div>
    </div>
    <div class="create-btn ts125">
      <div (click)="onClose()"><span>Erstellen</span></div>
    </div>
  </form>
</section>
