.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: backgroundFadeOut 1s 2.4s forwards;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @media (max-width: 500px) {
            gap: 16px;
        }

        span {
            color: white;
            font-size: 80px;
            animation: textAnimation 2s forwards;
            animation-delay: 1s;
            opacity: 0;

            @media (max-width: 1920px) {
                animation: textAnimationMax1920 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1800px) {
                animation: textAnimationMax1800 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1650px) {
                animation: textAnimationMax1650 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1500px) {
                animation: textAnimationMax1500 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1350px) {
                animation: textAnimationMax1350 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1200px) {
                animation: textAnimationMax1200 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 1050px) {
                animation: textAnimationMax1050 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 900px) {
                animation: textAnimationMax900 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 750px) {
                animation: textAnimationMax750 2s forwards;
                animation-delay: 1s;
            }

            @media (max-width: 600px) {
                animation: textAnimationMobile 2s forwards;
                animation-delay: 1s;
                font-size: 40px;
            }
        }

        img {
            height: 160px;
            width: auto;
            animation: imageAnimation 1s, imageUpAnimation 0.6s 2.4s;

            @media (max-width: 1920px) {
                animation: imageAnimation 1s, imageUpAnimationMax1920 0.6s 2.4s;
            }

            @media (max-width: 1800px) {
                animation: imageAnimation 1s, imageUpAnimationMax1800 0.6s 2.4s;
            }

            @media (max-width: 1650px) {
                animation: imageAnimation 1s, imageUpAnimationMax1650 0.6s 2.4s;
            }

            @media (max-width: 1500px) {
                animation: imageAnimation 1s, imageUpAnimationMax1500 0.6s 2.4s;
            }

            @media (max-width: 1350px) {
                animation: imageAnimation 1s, imageUpAnimationMax1350 0.6s 2.4s;
            }

            @media (max-width: 1200px) {
                animation: imageAnimation 1s, imageUpAnimationMax1200 0.6s 2.4s;
            }

            @media (max-width: 1050px) {
                animation: imageAnimation 1s, imageUpAnimationMax1050 0.6s 2.4s;
            }

            @media (max-width: 900px) {
                animation: imageAnimation 1s, imageUpAnimationMax900 0.6s 2.4s;
            }

            @media (max-width: 750px) {
                animation: imageAnimation 1s, imageUpAnimationMax750 0.6s 2.4s;
            }

            @media (max-width: 600px) {
                animation: imageAnimation 1s, imageUpAnimationMobile 0.6s 2.4s;
                height: 80px;
            }
        }
    }
}


// BACKGROUND ANIMATION
@keyframes backgroundFadeOut {
    0% {
        opacity: 1; // background visible
    }

    100% {
        opacity: 0; // background hidden (fading)
        z-index: -1;
    }
}


// IMAGE ANIMATION
@keyframes imageAnimation {
    0% {
        transform: translateX(100%); // starting position
    }

    50% {
        transform: translateX(100%); // starting position
    }

    100% {
        transform: translateX(0%); // img stops left
    }
}


// IMAGE UP ANIMATION
@keyframes imageUpAnimation {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-300%) translateY(-240%) scale(0.3); // final position (upper left)

    }
}

@keyframes imageUpAnimationMobile {
    0% {
        transform: translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateY(-450%) scale(1); // final position (top center)
    }
}

@keyframes imageUpAnimationMax750 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-50%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax900 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-80%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1050 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-120%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1200 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-170%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1350 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-210%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1500 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-270%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1650 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-320%) translateY(-240%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1800 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-360%) translateY(-220%) scale(0.4); // final position (upper left)

    }
}

@keyframes imageUpAnimationMax1920 {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-400%) translateY(-220%) scale(0.4); // final position (upper left)

    }
}




// TEXT ANIMATION
@keyframes textAnimation {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-180%) translateY(-1800%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMobile {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1;
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateY(-1800%) scale(0.7); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax750 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-60%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax900 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-80%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1050 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-100%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1200 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-120%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1350 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-140%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1500 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-160%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1650 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-180%) translateY(-1900%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1800 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-200%) translateY(-1700%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMax1920 {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-220%) translateY(-1700%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}