.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: backgroundFadeOut 1s 2.4s forwards;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @media (max-width: 500px) {
            gap: 16px;
        }

        span {
            color: white;
            font-size: 96px;
            animation: textAnimation 2s forwards;
            animation-delay: 1s;
            opacity: 0;

            @media (max-width: 600px) {
                animation: textAnimationMobile 2s forwards;
                animation-delay: 1s;
                font-size: 40px;
            }
        }

        img {
            height: 200px;
            width: auto;
            // position: absolute;
            animation: imageAnimation 1s, imageUpAnimation 0.6s 2.4s;

            @media (max-width: 600px) {
                animation: imageAnimation 1s, imageUpAnimationMobile 0.6s 2.4s;
                height: 80px;
            }
        }
    }
}






@keyframes imageAnimation {
    0% {
        transform: translateX(100%); // starting position
    }

    50% {
        transform: translateX(100%); // starting position
    }

    100% {
        transform: translateX(0%); // img stops left
    }
}













@keyframes imageUpAnimation {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-300%) translateY(-180%) scale(0.3); // final position (upper left)

    }
}

@keyframes imageUpAnimationMobile {
    0% {
        transform: translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateY(-450%) scale(1); // final position (top center)
    }
}












@keyframes textAnimation {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-180%) translateY(-1800%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}

@keyframes textAnimationMobile {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1;
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateY(-1800%) scale(0.7); // zooms to final position upper left and gets smaller
    }
}








@keyframes backgroundFadeOut {
    0% {
        opacity: 1; // Anfangsopazität des Hintergrunds
    }

    100% {
        opacity: 0; // Endopazität des Hintergrunds (komplett verblassen)
        z-index: -1;
    }
}