@mixin image-start-animation-state {
    transform: translateX(0) translateY(0) scale(1);
}

@mixin text-start-animation-state-0 {
    transform: translateX(-100%) scale(1); // text out of sight to the left
}

@mixin text-start-animation-state-70 {
    opacity: 1;
    transform: translateX(0%) scale(1); // zooms out from behind img
}




.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: backgroundFadeOut 1s 2.4s forwards;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @media (max-width: 500px) {
            gap: 16px;
        }

        span {
            color: white;
            font-size: 80px;
            animation: textAnimation 2s 1s forwards;
            opacity: 0;

            @media (min-width: 1920px) {
                animation: textAnimationMin1920 2s 1s forwards;
            }

            @media (max-width: 1920px) {
                animation: textAnimationMax1920 2s 1s forwards;
            }

            // @media (max-width: 1800px) {
            //     animation: textAnimationMax1800 2s 1s forwards;
            // }

            @media (max-width: 1650px) {
                animation: textAnimationMax1650 2s 1s forwards;
            }

            // @media (max-width: 1500px) {
            //     animation: textAnimationMax1500 2s 1s forwards;
            // }

            @media (max-width: 1350px) {
                animation: textAnimationMax1350 2s 1s forwards;
            }

            // @media (max-width: 1200px) {
            //     animation: textAnimationMax1200 2s 1s forwards;
            // }

            // @media (max-width: 1050px) {
            //     animation: textAnimationMax1050 2s 1s forwards;
            // }

            @media (max-width: 900px) {
                animation: textAnimationMax900 2s 1s forwards;
            }

            // @media (max-width: 750px) {
            //     animation: textAnimationMax750 2s 1s forwards;
            // }

            // mobile
            @media (max-width: 600px) {
                animation: textAnimationMax600 2s 1s forwards;
                font-size: 40px;
            }
        }


        img {
            height: 160px;
            width: auto;
            animation: imageAnimation 1s, imageUpAnimation 0.6s 2.4s;

            @media (min-width: 1920px) {
                animation: imageAnimation 1s, imageUpAnimationMin1920 0.6s 2.4s;
            }

            @media (max-width: 1920px) {
                animation: imageAnimation 1s, imageUpAnimationMax1920 0.6s 2.4s;
            }

            @media (max-width: 1800px) {
                animation: imageAnimation 1s, imageUpAnimationMax1800 0.6s 2.4s;
            }

            @media (max-width: 1650px) {
                animation: imageAnimation 1s, imageUpAnimationMax1650 0.6s 2.4s;
            }

            @media (max-width: 1500px) {
                animation: imageAnimation 1s, imageUpAnimationMax1500 0.6s 2.4s;
            }

            @media (max-width: 1350px) {
                animation: imageAnimation 1s, imageUpAnimationMax1350 0.6s 2.4s;
            }

            @media (max-width: 1200px) {
                animation: imageAnimation 1s, imageUpAnimationMax1200 0.6s 2.4s;
            }

            @media (max-width: 1050px) {
                animation: imageAnimation 1s, imageUpAnimationMax1050 0.6s 2.4s;
            }

            @media (max-width: 900px) {
                animation: imageAnimation 1s, imageUpAnimationMax900 0.6s 2.4s;
            }

            @media (max-width: 750px) {
                animation: imageAnimation 1s, imageUpAnimationMax750 0.6s 2.4s;
            }

            // mobile
            @media (max-width: 600px) {
                animation: imageAnimation 1s, imageUpAnimationMax600 0.6s 2.4s;
                height: 80px;
            }
        }
    }
}



// BACKGROUND ANIMATION
@keyframes backgroundFadeOut {
    0% {
        opacity: 1; // background visible
    }

    100% {
        opacity: 0; // background hidden (fading)
        z-index: -1;
    }
}



// IMAGE ANIMATION
@keyframes imageAnimation {
    0% {
        transform: translateX(100%); // starting position
    }

    50% {
        transform: translateX(100%); // starting position
    }

    100% {
        transform: translateX(0%); // img stops left
    }
}



// STANDARD IMAGE UP ANIMATION
@keyframes imageUpAnimation {
    0% {
        transform: translateX(0) translateY(0) scale(1); // starting position
    }

    100% {
        transform: translateX(-300%) translateY(-240%) scale(0.3); // final position (upper left)

    }
}



// STANDARD TEXT ANIMATION
@keyframes textAnimation {
    0% {
        transform: translateX(-100%) scale(1); // text out of sight to the left
    }

    70% {
        opacity: 1; // text remains visible
        transform: translateX(0%) scale(1); // zooms out from behind img
    }

    100% {
        opacity: 1;
        transform: translateX(-180%) translateY(-1800%) scale(0.4); // zooms to final position upper left and gets smaller
    }
}





// FOR MEDIA QUERIES

// IMAGE-ANIMATION
@keyframes imageUpAnimationMin1920 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(calc(-35vw - (100vw - 1920px) / 2)) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1920 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-35vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1800 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-34vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1650 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-32vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1500 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-30vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1350 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-26vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1200 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-25vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes imageUpAnimationMax1050 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-22vw) translateY(-43vh) scale(0.3);

    }
}


@keyframes imageUpAnimationMax900 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-15vw) translateY(-42vh) scale(0.4);

    }
}


@keyframes imageUpAnimationMax750 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateX(-10vw) translateY(-42vh) scale(0.4);

    }
}


@keyframes imageUpAnimationMax600 {
    0% {
        @include image-start-animation-state;
    }

    100% {
        transform: translateY(-42vh) scale(1);
    }
}



// TEXT-ANIMATION

@keyframes textAnimationMin1920 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateX(calc(-35vw - (100vw - 1920px) / 2)) translateY(-43vh) scale(0.4);
        // transform: translateX(-43vw) translateY(-43vh) scale(0.4);
    }
}


@keyframes textAnimationMax1920 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateX(-43vw) translateY(-43vh) scale(0.4);
    }
}


// @keyframes textAnimationMax1800 {
//     0% {
//         @include text-start-animation-state-0;
//     }

//     70% {
//         @include text-start-animation-state-70;
//     }

//     100% {
//         opacity: 0.5;
//         transform: translateX(-43vw) translateY(-43vh) scale(0.4);
//     }
// }


@keyframes textAnimationMax1650 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateX(-42vw) translateY(-43vh) scale(0.4);
    }
}


// @keyframes textAnimationMax1500 {
//     0% {
//         @include text-start-animation-state-0;
//     }

//     70% {
//         @include text-start-animation-state-70;
//     }

//     100% {
//         opacity: 0.5;
//         transform: translateX(-42vw) translateY(-43vh) scale(0.4);
//     }
// }


@keyframes textAnimationMax1350 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateX(-40vw) translateY(-43vh) scale(0.4);
    }
}


// @keyframes textAnimationMax1200 {
//     0% {
//         @include text-start-animation-state-0;
//     }

//     70% {
//         @include text-start-animation-state-70;
//     }

//     100% {
//         opacity: 0.5;
//         transform: translateX(-40vw) translateY(-43vh) scale(0.4);
//     }
// }


// @keyframes textAnimationMax1050 {
//     0% {
//         @include text-start-animation-state-0;
//     }

//     70% {
//         @include text-start-animation-state-70;
//     }

//     100% {
//         opacity: 0.5;
//         transform: translateX(-40vw) translateY(-43vh) scale(0.4);
//     }
// }


@keyframes textAnimationMax900 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateX(-35vw) translateY(-42vh) scale(0.4);
    }
}


// @keyframes textAnimationMax750 {
//     0% {
//         @include text-start-animation-state-0;
//     }

//     70% {
//         @include text-start-animation-state-70;
//     }

//     100% {
//         opacity: 0.5;
//         transform: translateX(-35vw) translateY(-42vh) scale(0.4);
//     }
// }


@keyframes textAnimationMax600 {
    0% {
        @include text-start-animation-state-0;
    }

    70% {
        @include text-start-animation-state-70;
    }

    100% {
        opacity: 0.5;
        transform: translateY(-42vh) scale(1);
    }
}