/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$bgContent: #FFFFFF;
$bgPage: #ECEEFE;

@mixin dFlex($jc: center, $ai: center, $g: 0, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
}

.search-and-profile {
    mat-form-field {
        .mat-mdc-text-field-wrapper{
            border-radius: 42px;
            background: white;
        }
    }
}